<div class="post" style="height: 49px; padding-top: 20px; padding-bottom: 20px;">
  <div class="post-title">
    <a href="{{ .Permalink }}" title="{{ .Title }}">
      <img src="{{ "/images/post-title-icon.png" | relURL }}" />
      <div class="post-meta">
        <time>{{ i18n "postDatetime" .Date }}</time>
        <h1>{{ .Title }}</h1>
      </div>
    </a>
  </div>
  {{ if .Params.cover }}
  <div class="cover-image">
    <a href="{{ .Permalink }}" title="{{ .Title }}">
      <img src="{{ .Params.cover }}" />
    </a>
  </div>
  {{ end }}
</div>  